:root {
  --white: #ffffff;
  --aspect-ratio: 60%;
  --base-color: #5c5c5c;
  --base-color-light: #5c5c5c3d;
  --secondary: #939393;
}

* {
  color: var(--base-color);
}

button {
  background: none;
  border: none;
}
button:focus {
  outline: none;
}
