.button {
  background: var(--btn-primary-color);
  width: 100%;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: var(--secondary-color);
}

.button > span {
  color: #fff;
  font-size: var(--secondary-text);
}

@media only screen and (min-width: 768px) {
}
