.quantity-item {
  display: flex;
  border: 1px solid var(--secondary-color);
  justify-content: space-around;
  align-items: center;
}

.quantity-item > * {
  padding: 0.6rem;
  font-size: var(--primary-text);
  color: var(--primary-color);
}

.quantity-container > span {
  margin: 0.4rem;
}

@media only screen and (min-width: 768px) {
  .quantity-item {
    display: flex;
    border: 1px solid var(--secondary-color);
    justify-content: space-around;
    align-items: center;
  }
}
