.policies-main{
    max-width: 50em;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align:center;
}

.policies-title{
    font-size: 2em;
    text-transform: uppercase;
    color: grey;
}

.policies-details{
    font-size: 1em;
    color: grey;
    margin-top: 2em;
    text-align: left;
    
}