header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--secondary-color);
  align-items: center;
  margin-bottom: 1rem;
}

.header-left {
  display: flex;
}
button.btn {
  padding: 0 0.5rem;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
  }
  .header-left {
    display: hidde;
  }
  button.btn {
    padding: 0 1rem;
  }
}
