:root {
  --cardWidth: 360px;
  --cardHeight: 400px;
  --cardMargin: 6em;
  --primaryColor:#ff7675;
}

.category-main-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.category-card {
  width: var(--cardWidth);
  height: var(--cardHeight);
  margin-bottom: var(--cardMargin);
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.category-heading{
  font-size: 2em;
  padding-bottom: 1em;
}

.category-spacing{
  padding-top:2em;
}

.category-card-overlay{
  position: absolute;
  top: 0;bottom: 0;left: 0;right: 0;
  background:black;
  opacity: 0.3;
}

.category-card-overlay:hover{
   opacity: 0.1;
}

.category-title-position{
  position: absolute;
  bottom: 6em;
  width: 100%;
}

.category-title{
  text-align: center;
  font-size: 1.5em;
  position: relative;
  color: white;
}

.category-btn-position{
  position: absolute;
  bottom: 3em;
  width: 100%;
}

.category-btn-main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 10em;
}

.category-btn{
  position: relative;
  display: block;
  color: white;
  font-size: 0.8em;
  font-family: "montserrat";
  text-decoration: none;
  border: 2px solid white;
  padding: 1em;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  text-align: center;
}
.category-btn::before{
  background:var(--primaryColor);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.category-btn::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(-45deg);
}

.category-btn:hover::before{
  height: 380%;
}

  
@media screen and (min-width: 800px) {
  .category-main-section{
    justify-content: space-between;
  }
}