.search-product {
  height: 39vh;
  width: 18vw;
  display: flex;
  margin: 2rem;
}

.search-page {
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
}
.input-search {
  width: 40rem;
  color: var(--primary-color);
  outline: none;
  font-size: 1.1rem;
  padding: 0.1rem 0.5rem;
  opacity: 0.5;
}
