:root {
  --primaryColor:#ff7675;
  --greyColor:#939393;
}

.product-wishlist-btn{
  cursor: pointer;
  vertical-align: middle;
  color: lightgray;
}

.product-wishlistAdded{
  color: var(--primaryColor);
}

.product-title{
  user-select: none;
  font-size: 1.5em;
}

.product-size{
  font-size: 1em;
  margin-top: 1.2em;
  display: flex;
}

.product-size-child{
  border: 1px solid lightgray;
  padding: 0.4em 0.6em;
  margin-right: 1em;
  cursor: pointer;
  user-select: none;
}

.product-size-child-selected{
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor);
}

.product-price{
  font-size: 1.5em;
  margin-top: 1.2em;
  color: var(--greyColor);
}

.product-description{
  font-size: 1em;
  margin-top: 2em;
  color: var(--greyColor);
  line-height: 26px;
  max-width: 200em;
}

.product-quantity-container {
  display: flex;
  border: 0.2px solid var(--greyColor);
  justify-content: space-around;
  width: 8em;
  margin-top: 1.4em;
}

.product-quantity-container > span {
  margin: 0.4rem;
}

.product-quantity-container > button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 0em 0.8em;
  font-size: 1.2em;
  user-select: none;
}

.product-main{
  display: flex;
  position: relative;
  margin-bottom:2em;
  margin-top: 1em;
}

.product-btn-container{
  margin-top:1.4em;
}

.product-addtocart-btn{
  width: 90%;
  padding:1.2em;
  border: 1px solid var(--greyColor);
  color:var(--greyColor);
  font-size:0.6em;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
}

.product-addtocart-btn:hover{
  border: 1px solid var(--primaryColor);
  color:white;
  background:var(--primaryColor);
}

.product-buyitnow-btn{
  width: 90%;
  padding:1.2em;
  border: 1px solid var(--primaryColor);
  color:white;
  font-size:0.6em;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  background:var(--primaryColor);
  margin-top: 2em;
}

.product-buyitnow-btn:hover{
  border: 1px solid var(--greyColor);
  color:var(--greyColor);
  background:white;
}

.product-imageSlider-main{
  height:36em;  
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  align-self: flex-start;
  height: auto;
  width: 300em;
}

.product-description-main{
  flex-grow: 1.5;
  padding: 0em 2em;
}

.product-slider{
  display: flex;
  justify-content: space-between;
}

.product-slider-mySlides {
  display: none;
}
.product-slider-mySlides.product-slider-active {
  display: flex;
  width: 100%;
  height: inherit;
}

.product-slider-container {
  height: 16rem;
  position: relative;
}

.product-slider-images-preview{
  text-align: left;
  display: flex;
  flex-direction: column;
}

.product-slider-aspect-ratio{
  object-fit: cover;
  object-position: center;
}

.product-slider-small-images{
  height:5em;
  width: 5em; 
  margin: 0.8em;
  object-fit: cover;
}

.product-slider-small-images-active{
  border:2px solid var(--primaryColor);
}

/* Next & previous buttons */
.product-slider-prev,
.product-slider-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1em;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: none;
  border: none;
}

/* Position the "next button" to the right */
.product-slider-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the prev */
.product-slider-prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.product-slider-prev:hover,
.product-slider-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.active,
.dot:hover {
  background-color: #c4adad;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


/* for medium devices laptop */
@media screen and (min-width: 1200px) {
  .product-slider-container {
    height: 34rem;
  }

  .product-slider-numberText {
    font-size: 3.5rem;
  }

  .product-slider-text {
    font-size: 4rem;
  }
}

/* for mobile and tablets */
@media screen and (max-width: 800px) {
  .product-imageSlider-main{
    width: 100%;
  }
  .product-slider{
    max-width: fit-content;
  }
  .product-main{
    flex-flow: column;
  }

  .product-imageSlider-main{
    position: relative !important;
  }
  .product-slider{
    flex-direction: column-reverse;
  }

  .product-slider-images-preview{
    flex-flow: nowrap;
    flex-direction: row;
    overflow: auto;
  }

  .product-description{
    max-width: 100%;
  }

  .product-description-main{
    padding: 0em;
  }

  .product-title{
    margin-top: 1em;
  }
}